:root {
    --color-background: white;
    --color-background-mute: hsl(0, 0%, 90%);
    --color-background-overlay: hsla(45, 50%, 40%, 0.92);
    --color-border: rgba(60, 60, 60, 0.2);
    --color-accent: hsl(45, 100%, 31%);
}

body {
    margin: 0 auto;
    font-family:
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Fira Sans',
        'Droid Sans',
        'Helvetica Neue',
        sans-serif;
}

header#header {
    background-image:
        linear-gradient(var(--color-background-overlay), var(--color-background-overlay)),
        url("/images/site-banner.png");
}

main {
    max-width: 1080px;
    padding: 1em 2em;
    margin: auto;
}

a {
    text-decoration: none;
    color: var(--color-accent);
}

a:hover {
    text-decoration: underline;
}

small.tag {
    background-color: var(--color-background-mute);
    color: black;
    padding: 0.1em 0.5em;
}