:root {
    --color-background: white;
    --color-background-mute: hsl(0, 0%, 90%);
    --color-background-overlay: hsla(45, 50%, 40%, 0.92);
    --color-border: rgba(60, 60, 60, 0.2);
    --color-accent: hsl(45, 100%, 31%);
}

body {
    margin: 0 auto;
    font-family:
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Fira Sans',
        'Droid Sans',
        'Helvetica Neue',
        sans-serif;
}

header#header {
    border-bottom: 1px solid var(--color-border);
    width: 100%;
}

#logo {
    display: flex;
    place-items: center;
    margin: auto;
    max-width: 1280px;
    text-decoration: none;
}

main {
    max-width: 1080px;
    padding: 0 2em;
    margin: auto;
}

a {
    text-decoration: none;
    color: var(--color-accent);
}

a:hover {
    text-decoration: underline;
}

a.button {
    padding: 0.5em;
    border: 1px solid var(--color-border);
}

a.button:hover {
    text-decoration: none;
    border-color: var(--color-accent);
}

small.tag {
    background-color: var(--color-background-mute);
    color: black;
    padding: 0.1em 0.5em;
}