:root {
    --color-background: white;
    --color-border: rgba(60, 60, 60, 0.12);
    --color-accent: hsl(45, 100%, 31%);
}

body {
    margin: 0 auto;
    font-family:
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Fira Sans',
        'Droid Sans',
        'Helvetica Neue',
        sans-serif;
}

main {
    max-width: 1080px;
    padding: 1em 2em;
    margin: auto;
}

a {
    text-decoration: none;
    color: var(--color-accent);
}

a:hover {
    text-decoration: underline;
}