<div class="gallery">
    {% for image in include.images %}
    <div>
        <img src="{{ image }}" width="240" onclick="enlargeImage()">
    </div>
    {% endfor %}
</div>

<style>
    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .gallery div {
        margin: auto;
        padding: 1em;
    }

    .gallery img {
        border: 1px solid var(--color-border);
        max-width: 100%;
        cursor: pointer;
    }

    @media screen and (max-width: 1100px) {
        .gallery {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    @media screen and (max-width: 900px) {
        .gallery {
            grid-template-columns: 1fr 1fr;
        }
    }

    @media screen and (max-width: 600px) {
        .gallery {
            grid-template-columns: 1fr;
        }
    }
</style>