<footer id="footer">
    <div>
        Copyright © 2026 Chikorita Lover. All rights reserved.
    </div>
    <div>
        <a href="https://github.com/Chikorita-Lover/chikorita-lover.github.io" target="_blank" class="plainlink">Source code</a>
    </div>
</footer>

<style>
    footer#footer {
        background-image: linear-gradient(var(--color-footer)),
            url("/images/site-background.png");
        color: white;
        font-size: small;
        text-align: center;
        border-top: 1px solid var(--color-border);
        padding: 0.5em;
    }
</style>