<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} | The Library of Roosey</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header id="header">
        <a href="/" id="logo">
            <img alt="Site logo" class="logo" src="/images/logo.png" width="100" height="100" />
            <div>
                <h1>The Library of Roosey</h1>
            </div>
        </a>
    </header>
    {% include common/nav.html %}
    <main>
        {{ content }}
    </main>
    {% include common/footer.html %}
</body>

</html>

<style>
    header#header {
        padding: 1em 0;
        background-image:
            linear-gradient(var(--color-background-overlay), var(--color-background-overlay)),
            url("/images/site-banner.png");
    }

    #logo {
        color: white;
    }

    #logo h1 {
        font-weight: 500;
        font-size: 2.6rem;
        line-height: 1.0;
    }
</style>