---
layout: default
collection: projects
---
{% assign project = site.data.projects[page.id] %}
<div id="top">
    <section id="summary">
        {% include tag-list.html tags=project.tags %}
        <h1>{% include project-name.html project=project %}</h1>
        <p>
            <small><i>Released {{ project.releaseDate | date: "%B %d, %Y" }}</i></small>
        </p>
        {{ content }}
    </section>
    <section id="info">
        <img src="/images/projects/{{ page.id }}.png" alt="{{ project.name }}" width=300 onclick="enlargeImage()" />
        <div style="text-align: center; display: grid;">
            {% for link in project.links %}
            <a href="{{ link.link }}" target="_blank" style="margin-top: 0.7em;" class="button">{{ link.name }}</a>
            {% endfor %}
        </div>
    </section>
</div>
{% if page.video_id %}
<section style="border-top: 1px solid var(--color-border); text-align: center;">
    <iframe width="640" src="https://www.youtube.com/embed/{{ page.video_id }}" style="max-width: 100%; aspect-ratio: 16 / 9;"></iframe>
</section>
{% endif %}
{% if project.screenshots %}
<section style="width: 100%; border-top: 1px solid var(--color-border)">
    {% include gallery.html images=project.screenshots %}
</section>
{% endif %}

<style>
    section {
        padding: 1em 0;
    }

    #top {
        display: flex;
        width: 100%;
    }

    #summary {
        padding-right: 1em;
        margin-right: auto;
    }

    #info {
        text-align: center;
        padding-left: 1em;
        border-left: 1px solid var(--color-border);
    }

    #info img {
        border: 1px solid var(--color-border);
        cursor: pointer;
    }

    @media screen and (max-width: 800px) {
        #top {
            display: block;
        }

        #summary {
            padding-right: 0;
            margin-right: 0;
        }

        #info {
            padding-left: 0;
            border-left: 0;
            border-top: 1px solid var(--color-border);
        }

        #info img {
            max-width: 100%;
        }
    }
</style>