---
layout: default
collection: projects
---
{% assign project = site.data.projects[page.id] %}
<div style="display: flex; width: 100%;">
    <section style="padding-right: 1em; margin-right: auto;">
        <div>{% include project-tags.html project=project %}</div>
        <h1>{% include project-name.html project=project %}</h1>
        <p>
            <small><i>Released {{ project.releaseDate | date: "%B %d, %Y" }}</i></small>
        </p>
        {{ content }}
    </section>
    <section style="padding-left: 1em; border-left: 1px solid var(--color-border)">
        <img src="/images/projects/{{ page.id }}.png" alt="{{ project.name }}" width=300
            style="border: 1px solid var(--color-border)" />
        <div style="text-align: center; display: grid;">
            {% for link in project.links %}
            <a href="{{ link.link }}" target="_blank" style="margin-top: 0.7em;" class="button">{{ link.name }}</a>
            {% endfor %}
        </div>
    </section>
</div>
{% if project.screenshots %}
<section style="width: 100%; border-top: 1px solid var(--color-border)">
    {% include gallery.html images=project.screenshots %}
</section>
{% endif %}

<style>
    section {
        padding: 1em 0;
    }
</style>